* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.clear {
  clear: both; }

.container {
  max-width: 1280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.w50 {
  width: 50%;
  float: right; }

nav.menu-desktop {
  min-height: 80px;
  background-color: #0f0f0f;
  padding: 15px 30px; }
  nav.menu-desktop div.logo {
    float: left; }
    nav.menu-desktop div.logo h2 {
      cursor: pointer;
      margin-left: 8px;
      margin-top: 6px;
      color: white;
      font-size: 28px; }
  nav.menu-desktop ul.ul-menu-desktop {
    padding-top: 14px;
    float: right;
    padding-right: 120px; }
    nav.menu-desktop ul.ul-menu-desktop li {
      display: inline-block;
      margin-right: 12px; }
      nav.menu-desktop ul.ul-menu-desktop li a {
        text-decoration: none;
        font-size: 19px;
        color: white; }
      nav.menu-desktop ul.ul-menu-desktop li a:hover {
        color: #4d4b4b; }
  nav.menu-desktop ul.ul-menu-mobile {
    display: none;
    text-align: center; }
    nav.menu-desktop ul.ul-menu-mobile li {
      border-bottom: 1px solid #ccc;
      padding-top: 8px; }
      nav.menu-desktop ul.ul-menu-mobile li a {
        color: #fff;
        text-decoration: none;
        font-size: 20px; }
    nav.menu-desktop ul.ul-menu-mobile li:hover {
      background-color: #4a4a4a; }
      nav.menu-desktop ul.ul-menu-mobile li:hover a {
        color: #0f0f0f; }
  nav.menu-desktop div.menu-icon {
    display: none;
    background-image: url("../images/menu_mobile.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    float: right;
    margin-top: 12px; }

section.banner {
  background-image: url("../images/bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 100%; }
  section.banner div.bg-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); }
  section.banner div.content-banner {
    width: 100%;
    padding-top: 200px;
    padding-left: 200px; }
    section.banner div.content-banner h2 {
      text-align: left;
      color: #d7c9c9;
      font-size: 22px;
      width: 500px; }
    section.banner div.content-banner p {
      text-align: left;
      width: 500px;
      font-size: 18px;
      line-height: 25px;
      margin-top: 15px;
      color: #d2d2d2; }
    section.banner div.content-banner div.form-banner {
      width: 100%;
      padding-top: 30px; }
      section.banner div.content-banner div.form-banner form.banner input[type="email"] {
        width: 350px;
        height: 50px;
        border-radius: 15px;
        border: 0;
        padding-left: 10px; }
      section.banner div.content-banner div.form-banner form.banner input[type="email"]:focus {
        outline: 0; }
      section.banner div.content-banner div.form-banner form.banner input[type="submit"] {
        width: 100px;
        height: 50px;
        border-radius: 15px;
        border: 0;
        font-size: 18px;
        font-weight: bold;
        color: #322f2f;
        margin-left: 5px;
        cursor: pointer;
        background-color: #0c7dae; }
      section.banner div.content-banner div.form-banner form.banner input[type="submit"]:hover {
        background-color: aqua; }

section.sobre {
  background-color: #d3f2fa; }
  section.sobre div.content-sobre-description p {
    max-width: 600px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 30px;
    font-size: 16px;
    line-height: 20px; }
  section.sobre div.content-sobre {
    margin-top: 100px;
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    section.sobre div.content-sobre div.box-1 div.text-content-box-1 {
      width: 55%;
      float: left;
      padding-right: 30px; }
      section.sobre div.content-sobre div.box-1 div.text-content-box-1 h2 {
        font-size: 26px;
        color: #2e2d2d;
        font-weight: normal; }
      section.sobre div.content-sobre div.box-1 div.text-content-box-1 p {
        padding-top: 20px;
        font-size: 18px;
        color: #1f1e1e;
        line-height: 28px; }
    section.sobre div.content-sobre div.box-1 div.box-1-img {
      width: 40%;
      float: right; }
      section.sobre div.content-sobre div.box-1 div.box-1-img img.box-1-img {
        width: 100%;
        min-height: 250px; }
    section.sobre div.content-sobre div.box-2 {
      margin-top: 40px;
      width: 100%; }
      section.sobre div.content-sobre div.box-2 div.box-2-img {
        background-image: url("../images/bg_2.png");
        background-size: cover;
        width: 100%;
        height: 500px; }
      section.sobre div.content-sobre div.box-2 div.depoimento {
        position: relative;
        left: 55%;
        top: -150px;
        background-color: rgba(193, 239, 250, 0.8);
        width: 40%;
        box-shadow: 9px 11px 15px 2px rgba(0, 0, 0, 0.84);
        padding: 15px 30px 10px 30px; }
        section.sobre div.content-sobre div.box-2 div.depoimento p {
          line-height: 28px;
          font-size: 18px;
          color: #2c2d2c;
          font-weight: lighter; }
        section.sobre div.content-sobre div.box-2 div.depoimento h3 {
          color: #2e2e2e;
          font-weight: lighter italic;
          padding-top: 8px; }

section.servicos {
  width: 100%; }
  section.servicos h3 {
    padding-top: 30px;
    text-align: center;
    color: #2f2f2f;
    font-size: 24px;
    font-weight: lighter italic; }
  section.servicos div.icon-arrow {
    background-image: url("../images/arrow-icon-down.jpg");
    background-size: contain;
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    top: 40px;
    transform: translateX(-50%); }
  section.servicos div.section-servicos {
    margin-top: 80px;
    display: flex;
    width: 100%;
    flex-wrap: wrap; }
    section.servicos div.section-servicos div.box-servicos {
      width: 30%;
      padding: 15px 8px 22px 8px;
      margin-left: 2%;
      margin-bottom: 30px;
      border: 2px solid #3f4a4a;
      box-shadow: 4px 5px 10px 4px rgba(0, 0, 0, 0.79); }
      section.servicos div.section-servicos div.box-servicos div.icon-servicos {
        background-image: url("../images/css-3_icon.png");
        width: 80px;
        height: 80px;
        background-size: cover;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 18px; }
      section.servicos div.section-servicos div.box-servicos h3 {
        color: #2e2c2c;
        font-size: 22px;
        margin-bottom: 8px;
        font-weight: italic;
        text-align: left;
        margin-left: 10%; }
      section.servicos div.section-servicos div.box-servicos p {
        width: 80%;
        text-align: left;
        line-height: 28px;
        font-size: 18px;
        font-weight: lighter;
        color: #4b5757;
        margin-left: 10%; }
      section.servicos div.section-servicos div.box-servicos button {
        width: 40%;
        height: 40px;
        border-radius: 20px;
        margin-top: 18px;
        margin-left: 50%;
        cursor: pointer;
        background-color: #c1effa;
        border: 1px solid #ccc; }
        section.servicos div.section-servicos div.box-servicos button a {
          text-decoration: none;
          font-size: 22px;
          font-weight: lighter;
          color: #2f4b4b; }
      section.servicos div.section-servicos div.box-servicos button:hover {
        background-color: #5a90b5; }

section.contato {
  padding-top: 80px; }
  section.contato div.container h2 {
    font-size: 24px;
    color: #2f2f2f;
    text-align: center;
    padding-bottom: 40px; }
  section.contato div.container form {
    width: 60%;
    margin: 0 auto; }
    section.contato div.container form input[type="text"] {
      width: 100%;
      height: 40px;
      border-radius: 20px;
      margin-bottom: 8px;
      padding-left: 12px;
      border: 1px solid #3d3f3f; }
    section.contato div.container form input[type="email"] {
      width: 100%;
      height: 40px;
      border-radius: 20px;
      margin-bottom: 8px;
      padding-left: 12px;
      border: 1px solid #3d3f3f; }
    section.contato div.container form textarea {
      width: 100%;
      resize: vertical;
      border: 1px solid #3d3f3f;
      padding-bottom: 28px;
      margin-bottom: 28px;
      border-radius: 18px;
      padding: 8px 15px 8px 15px; }
    section.contato div.container form input[type="submit"] {
      width: 40%;
      border: none;
      height: 40px;
      border-radius: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
      background-color: #c1effa;
      color: #2b2b2b;
      cursor: pointer; }
    section.contato div.container form input[type="email"]:focus {
      outline: none; }
    section.contato div.container form input[type="text"]:focus {
      outline: none; }
    section.contato div.container form textarea:focus {
      outline: none; }
    section.contato div.container form input[type="submit"]:hover {
      background-color: #5a90b5; }

footer {
  background-color: #09002e; }
  footer div.content-footer {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    footer div.content-footer h3 {
      font-size: 22px;
      color: #fff;
      font-weight: normal;
      padding-bottom: 12px; }
    footer div.content-footer p {
      color: #d9d2d2;
      line-height: 28px;
      font-weight: lighter; }

/******************MIDIA QUERY****************** */
@media screen and (max-width: 900px) {
  nav.menu-desktop ul.ul-menu-desktop {
    display: none; }
  nav.menu-desktop div.menu-icon {
    display: inline; }

  section.banner div.content-banner {
    padding-left: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 80%; }
    section.banner div.content-banner h2 {
      width: 100%;
      text-align: center; }
    section.banner div.content-banner p {
      width: 100%;
      text-align: center; }
    section.banner div.content-banner div.form-banner form.banner {
      width: 100%; }
      section.banner div.content-banner div.form-banner form.banner input {
        display: block; }
      section.banner div.content-banner div.form-banner form.banner input[type="email"] {
        width: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
      section.banner div.content-banner div.form-banner form.banner input[type="submit"] {
        margin-left: 0;
        width: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 15px; }

  section.sobre div.content-sobre div.box-1 div.text-content-box-1 {
    width: 100%;
    padding-right: 0; }
    section.sobre div.content-sobre div.box-1 div.text-content-box-1 h2 {
      text-align: center; }
    section.sobre div.content-sobre div.box-1 div.text-content-box-1 p {
      text-align: center;
      padding-bottom: 40px; }
  section.sobre div.content-sobre div.box-1 div.box-1-img {
    width: 100%; }
  section.sobre div.content-sobre div.box-2 div.depoimento {
    width: 100%;
    top: 0;
    left: 0; }
  section.sobre div.content-sobre div.box-2 div.box-2-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px; }

  section.servicos div.section-servicos div.box-servicos {
    width: 46%; } }
@media screen and (max-width: 600px) {
  section.banner div.content-banner {
    width: 100%; }
    section.banner div.content-banner h2 {
      padding: 0 30px; }
    section.banner div.content-banner p {
      padding: 0 30px; }
    section.banner div.content-banner div.form-banner {
      margin-right: 200px; }
      section.banner div.content-banner div.form-banner form.banner {
        width: 100%; }
        section.banner div.content-banner div.form-banner form.banner input[type="email"] {
          width: 80%; }
        section.banner div.content-banner div.form-banner form.banner input[type="submit"] {
          width: 80%; }

  section.servicos div.section-servicos div.box-servicos {
    width: 80%;
    margin-left: 10%; } }

/*# sourceMappingURL=style.css.map */
