* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.clear {clear: both;}

html,body {
    height: 100%;
}

.page {
    width: 80%;
    height: calc(100% - 60px);
    position: absolute;
    left: 20%;
    top: 60px;
    overflow-y: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/*CONTROLADOR DO MENU*/

section.controller {
    width: 20%;
    background-color: #cdcecd;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.header-top {
    width: 100%;
    height: 50px;
    padding: 8px 0;
    text-align: center;
    background-color: #2b2b2b;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.header-top h2 {
    font-size: 22px;
    font-weight: lighter;
    color: #b2b4b3;

}

.op-sec {
    width: 100%;
    list-style-type: none;
}

.op-sec h2 {
    font-size: 18px;
    font-weight: italic;
    padding: 4px 0;
    background-color: #2b2b2b;
    color: #b2b4b3;
    margin: 5px 0;
    padding-left: 5px;
}

.op-sec > a {
    color: black;
    text-decoration: none;
    position: relative;
    top: 30px;
}

.op-sec ul {
    width: 100%;
    padding-left: 5px;
}

.op-sec ul li {
    height: 28px;
    padding-left: 5px;
}

.op-sec ul a {
    text-decoration: none;
    color: #3b3b3b;
}

.op-sec ul a:hover {
    color: #868686;
}

/*HEADER DO PAINEL*/

.header-painel {
    width: 80%;
    text-align: center;
    background-color: #d4d4d4;
    height: 60px;
    padding-top: 8px;
}

.header-painel p{
    font-size: 18px;
    display: inline-block;
    color: #2b2b2b;
}

i.icon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 28px;
    float: left;
    display: none;
}

/******************************* Responsivo **********************************/

@media screen and (max-width: 900px) {
    section.controller {
        transition: 2s;
        left: -20%;
    }
    header.header-painel,div.page {
        transition: 2s;
            width: 100%;
            left: 0;
    }
    header.header-painel {
        position: absolute;
        left: 0;
        top: 0;
    }

    i.icon {
        display: inline-block;
    }

}

@media screen and (max-width: 648px) {
    section.controller {
        width: 40%;
        left: -40%;
    }
}